version: "3.9"
services:
  dev:
    build: .
    working_dir: /app
    command: bundle exec ruby watch_poll_serve.rb
    ports:
      - "8080:8080"
    volumes:
      - .:/app:delegated  
    environment:
      - RUBYOPT=--enable-frozen-string-literal
